@import url(https://fonts.bunny.net/css?family=inter:500|jetbrains-mono:600,800);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    background-color: #a45ee5;
}

main{
    padding-bottom: 30px;
    margin: auto;
    max-width: 1000px;
}
header{
    color:#17051F;
    text-align:center;
    font-family: 'JetBrains Mono', monospace;
    margin-bottom: 20px;
}

.card{
    width:100%;
    background-color: #050505;
    text-align:center;
    color: #fafafa;
    margin-bottom: 20px;
    padding: 10px;
    font-family: 'Inter', sans-serif;
}

a{
    color: #fafafa;
    text-decoration: underline;
    cursor: pointer;
    transition:all 0.3s ease;
}

.atroposes{
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:20px; 
}   

.atropos-size{
    width: 260px;
    height: 364px;
}

.card-size{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 260px;
    height: 364px;
}

.bg-black{
    background-color: #000;
    width: 260px;
    height: 364px;
}
