@import url(https://fonts.bunny.net/css?family=ibm-plex-sans:600);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    background-color: #a45ee5;
}

body{
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto;
    max-width: 1000px;
}
h1{
    color:#17051F;
    text-align:center;
    font-family: 'IBM Plex Sans', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: max(1.2vw,26px);
}
header{
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-radius: 10px;
    background-color: #17051F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

a{
    width: auto;
    padding: 10px;
    background-color: #a45ee5;
    border: none;
    border-radius: 5px;
    color: #17051F;
    text-decoration: none;
    cursor: pointer;
    transition:all 0.3s ease;
}

a:hover{background-color:#BE85F3;}

.atroposes{
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:20px; 
}   

.atropos-size{
    width: 260px;
    height: 364px;
}

.card-size{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 260px;
    height: 364px;
}

.bg-black{
    background-color: #000;
    width: 260px;
    height: 364px;
}
